<div class="left">
  <div class="person-photo"></div>
</div>
<div class="right">
  <div class="name">
    <label for="name">Имя</label>
    <p>{{console.log($location)}}</p>
  </div>
  <div class="surname">
    <label for="surname">Фамилия</label>
    <p>Порошенко</p>
  </div>
  <div class="contact-info">
    <label for="email">Контактная информация</label>
    <div class="input-group email-group">
      <div class="person-email">gjdfglkd</div>
    </div>
    <div class="input-group phone-group">
      <div class="person-phone">874632847</div>
    </div>
  </div>
</div>
