<div class="left">
  <div class="person-photo"></div>
</div>
<div class="right">
  <div class="name">
    <label for="name">Имя</label>
    <p>{{persons.$getRecord(idName).name}}</p>
  </div>
  <div class="surname">
    <label for="surname">Фамилия</label>
    <p>{{persons.$getRecord(idName).surname}}</p>
  </div>
  <div class="contact-info">
    <label for="email">Контактная информация</label>
    <div class="input-group email-group">
      <div class="person-email">{{persons.$getRecord(idName).email}}</div>
    </div>
    <div class="input-group phone-group">
      <div class="person-phone">{{persons.$getRecord(idName).phone}}</div>
    </div>
  </div>
</div>
